- base_path = ''
- if ENV['PROJECT'] =~ /editor/i
  - base_path << "/#{Rails.root.basename.to_s}/"
- base_path << Rails.application.config.assets.prefix
- base_path << '/ckeditor/'
:javascript
  var CKEDITOR_BASEPATH = '#{base_path}';
= javascript_include_tag 'ckeditor/init'

%h1 Editing #{@blurb.name}

= form_for(@blurb) do |f|
  - if @blurb.errors.any?
    #error_explanation
      %h2 #{pluralize(@blurb.errors.count, "error")} prohibited this blurb from being saved:
      %ul
        - @blurb.errors.full_messages.each do |msg|
          %li #{msg}
          
  .center
    .field
      = f.cktext_area :content, :toolbar => 'BasicPlus', :width => 800, :height => 400
    .actions
      = f.submit

%br

.center
  = link_to 'Show', @blurb
  &nbsp;&nbsp;|&nbsp;&nbsp;
  = link_to 'Back to blurb list', blurbs_path