%p#notice #{notice}

%p
  %strong
    = @blurb.name

%hr

= blurb(@blurb.content)

%hr

.center
  = link_to 'Edit', edit_blurb_path(@blurb)
  &nbsp;&nbsp;|&nbsp;&nbsp;
  = link_to 'Back to blurb list', blurbs_path
