<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blurb.name %>
</p>

<p>
  <b>Content:</b>
  <%= @blurb.content %>
</p>


<%= link_to 'Edit', edit_blurb_path(@blurb) %> |
<%= link_to 'Back', blurbs_path %>
