= image_tag("contact.png", :alt => 'Contact dog', :class => 'contactdog', :width => 320, :height => 200)

- cache @contact_blurb do
  = blurb(@contact_blurb)

= form_for(@contact) do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2
        #{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li #{msg}

  #contact_form
    .actions
      #{req}: denotes required field
    .field
      = f.label :name, "Name#{req}".html_safe
      = f.text_field :name
    .field
      = f.label :email, "Email#{req}".html_safe
      = f.text_field :email
    .field
      = f.label :phone
      = f.text_field :phone
    .field
      = f.label :content, "Message#{req}".html_safe
      = f.text_area :content, :cols => 30, :rows => 6
    - unless (Rails.env.development? || Rails.env.test?)
      .field
      = recaptcha_tags
    .actions
      = f.submit 'Send message'