!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}/
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}/

    %title #{TITLE} #{!@page_title.blank? ? " - #{@page_title}" : '' }

    %meta{:name => "description", :content => "#{DESCRIPTION}"}/
    %meta{:name => "author", :content => "Teri Solow"}/

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/
    %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}/

    = stylesheet_link_tag :application

    = csrf_meta_tag

    = javascript_include_tag 'modernizr-1.7.min.js'

    = yield :header
  %body
    #container
      - if logged_in? 
        #admin
          Logged in as #{current_user.name}
          ❤
          = link_to 'manage content', blurbs_path
          ❤
          = link_to 'logout', logout_path
      %header#pagehead{:role => 'banner'}
        #banner
          = link_to image_tag("mobile_clinic.png", :alt => TITLE), root_url
        #directions
          = blurb(@directions)
        .clear
      #main{:role => 'main'}
        %nav#navigation{:role =>'navigation'}
          %ul
            %li
              = link_to 'Services', services_url
            %li
              = link_to 'Forms', forms_url
            %li
              = link_to 'Pre/Post Op', op_instructions_url
            %li
              = link_to 'About', about_url
            %li
              = link_to 'How you can help', donate_url
            %li
              = link_to 'Contact', contact_url
        #content
          - if flash[:error]
            #flash.error
              %h2 Error
              = flash[:error]
          - if flash[:notice]
            #flash.notice
              %h2 Notice
              = flash[:notice]
          = yield
      %footer#pagefoot{:role => 'contentinfo'}
        %p
          &copy;2012#{(Date.today.year == 2012) ? '' : "-#{Date.today.year}"}
          \#TODO - business name here
        %p
          = link_to "site design by Teri Solow", 'http://tekniklr.com'
    / # include all other javascript, which will be bundled
    = javascript_include_tag :application
    = yield :javascript
