!!! 5
-ie_html :lang => 'en' do
  %head
    %meta{:charset => "utf-8"}/
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}/

    %title #{!@page_title.blank? ? "#{@page_title} | " : '' } #{TITLE}

    %meta{:name => "description", :content => "#{DESCRIPTION}"}/
    %meta{:name => "author", :content => "Teri Solow"}/

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/
    %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}/

    = stylesheet_link_tag :application

    = csrf_meta_tag

    = javascript_include_tag 'modernizr-1.7.min.js'

    = yield :header
  %body
    #container
      %header#pagehead{:role => 'banner'}
        #banner
          = link_to image_tag("clinic_logo.png", :alt => TITLE, :width => 300,  :height => 125), root_url
        #catbox
          #directions
            = blurb(@directions)
            = link_to image_tag("facebook_32.png", :alt => 'Become a fan on Facebook', :width => 24,  :height => 24), 'http://facebook.com/LowCostSpayNeuterClinic'
            = link_to image_tag("twitter_32.png", :alt => 'Follow us on Twitter', :width => 24,  :height => 24), 'http://twitter.com/TODO'
        .clear
      #main{:role => 'main'}
        %nav#navigation{:role =>'navigation'}
          %ul
            %li
              = link_to 'Services', services_url
            %li
              = link_to 'Forms', forms_url
            %li
              = link_to 'Pre/Post op', op_instructions_url
            %li
              = link_to 'About us', about_url
            %li
              = link_to 'How you can help', donate_url
            %li
              = link_to 'Contact', contact_url
        - if params[:controller] == 'services'
          %nav#subnav{:role => 'navigation'}
            %ul
              %li
                = link_to 'Vaccinations', vaccinations_url
              %li
                = link_to 'Surgery pricing', pricing_url
              %li
                = link_to 'Mobile services', mobile_url
        #content
          - if flash[:error]
            #flash.error
              %h2 Error
              = flash[:error]
          - if flash[:notice]
            #flash.notice
              %h2 Notice
              = flash[:notice]
          - if @page_title
            %h1 #{@page_title}
          = yield
          .clear
      %footer#pagefoot{:role => 'contentinfo'}
        %p
          &copy;2012#{(Date.today.year == 2012) ? '' : "-#{Date.today.year}"}
          #{TITLE}
        - if logged_in? 
          #admin
            Logged in as #{current_user.name}
            ❤
            = link_to 'manage content', blurbs_path
            ❤
            = link_to 'logout', logout_path
    / # include all other javascript, which will be bundled
    = javascript_include_tag :application
    = yield :javascript

    / # asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
    - if Rails.env.production?
      :javascript
        var _gaq = [['_setAccount', 'UA-30474154-1'], ['_setDomainName', 'lowcostspayneuteraz.org'], ['_setAllowLinker', true], ['_trackPageview']];
        (function(d, t) {
          var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
          g.async = true;
          g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s);
        })(document, 'script');